use = json('./cards_schema.json',{hash:true})

+set("default")
	margin:1.2em 0;
	padding:1.2em;
	border-radius:em(3px);
	background-color:#fff;
	border:rem(1px) solid #e6e6e6;
	&.{use.selector.dark}
		background-color:#37404f;
		color:auto;
		border:rem(1px) solid invert(#e6e6e6);
